{% extends 'base.html' %}

{% block content %}
{% if user.exercises %}
<div class="container">
    <div class="home-hero">
        <h1>Hello, {{user.username}}</h1>
        <h4>View your program here</h4>
        <br>
        <a href="/program/{{user.id}}/template" class="btn btn-primary btn-md">Program</a>
        <a href="/program/{{user.id}}/template" class="btn btn-danger btn-md">Create new program</a>
    </div>
</div>
{% else %}
<div class="container">
    <div class="home-hero">
        <h1>Hello, {{user.username}}</h1>
        <h4>In order to select the right program for you, lets take a brief questionnaire.</h4>
        <br>
        <a href="/questionnaire/{{user.id}}" class="btn btn-primary">Start</a>
    </div>
</div>
{% endif %}


{% endblock %}