{% extends 'base.html' %}
{% block body_class %}home{% endblock %}
{% block content %}
{% if user.exercises %}
<div class="container">
    <div class="home-hero">
        <h1>Hello, {{user.username}}</h1>
        <h4>You may view or delete your program here:</h4>
        <br>
        <div>
            <form>
                <button formaction="/program/{{user.id}}/template" class="btn btn-submit btn-md">Program</button>
                <button formaction="/program/{{user.id}}/template"
                    class="btn btn-light btn-md text-submit text-nowrap">Delete
                    Program</button>
            </form>

        </div>

    </div>
</div>
{% else %}
<div class="container">
    <div class="home-hero">
        <h1>Hello, {{user.username}}</h1>
        <h4>To select the right program for you, let's take a brief questionnaire.</h4>
        <br>
        <a href="/questionnaire/{{user.id}}" class="btn btn-submit text-white">Start</a>
    </div>
</div>
{% endif %}


{% endblock %}