{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="home-hero">
        <h1>Here are the calories needed to {{user.goal}}:</h1>
        {% if user.goal == 'lose weight' %}
        <h1>{{user.calorie_maintenance - 500}}</h1>
        {% else %}
        <h1>{{user.calorie_maintenance + 500}}</h1>
        {% endif %}
        <h3>The macronutrients you need to consume:</h3>

        <p>Protein: {{user.protein}}</p>
        <p>Carbohydrate: {{user.carbohydrate}}</p>
        <p>Fat: {{user.fat}}</p>
        <form action="/program/{{user.id}}">
            <button class="btn btn-submit text-white btn-md btn-block">Next</button>
        </form>
    </div>
</div>

{% endblock %}