{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="home-hero">
        <div class="col-md-7 col-lg-5">
            <h2 class="join-message">Calculate your macros</h2>
            <form method="POST" id="user_form">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}

                <!-- <a href="/macros/{{user.id}}/next" class="btn btn-primary btn-lg btn-block">Calculate</a> -->

                <button class="btn btn-primary btn-lg btn-block">Calculate</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}