{% extends 'base.html' %}
{% block body_class %}home{% endblock %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="home-hero">
        <div class="col-md-7 col-lg-5">
            <h2>Would you like to calculate the calories and macronutrients needed to {{user.goal}}?</h2>
            <a href="/macros/{{user.id}}" class="btn btn-submit text-white btn-md btn-block">Click here</a>
            <a href="/program/{{user.id}}" class="btn btn-light text-submit btn-md btn-block">Skip</a>
        </div>
    </div>
</div>
{% endblock %}