{% extends 'base.html' %}
{% block body_class %}template{% endblock %}
{% block content %}
<div class="container">
    <div class="home-hero">
        <div class="card bg-dark text-white" style="width: 32rem;">
            <div class="card-header">
                {{user.username}}'s daily calorie intake to {{user.goal}}:
            </div>
            <ul class="list-group list-group-flush">
                {% if user.goal == 'lose weight' %}
                <li class="list-group-item">{{user.calorie_maintenance - 300}} cals</li>
                {% else %}
                <li class="list-group-item">{{user.calorie_maintenance + 300}} cals</li>
                {% endif %}
            </ul>

        </div>
        <br>
        <div class="card bg-dark text-white" style="width: 32rem;">
            <div class="card-header">
                Daily macronutrient intake:
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Protein: {{user.protein}}</li>
                <li class="list-group-item">Carbohydrate: {{user.carbohydrate}}</li>
                <li class="list-group-item">Fat: {{user.fat}}</li>
            </ul>
        </div>
        <br>
    </div>
</div>

{% endblock %}